# Ignore compiled class files
*.class

# Ignore Maven target directory
target/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore OS-specific files (macOS)
.DS_Store

# Ignore VS Code
.vscode/